.comment-container {
  padding: 12px 18px;
  display: flex;
  gap: 8px;
}

/* .comment-container-title-container {
  display: flex;
  gap: 8px;
} */

.comment-container-expand-action {
  cursor: pointer;
}

.comment-container-reply-action {
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s;
  margin: 0;
  padding-top: 4px;
  letter-spacing: 0.1mm;
}
.comment-container-reply-action:hover {
  column-gap: grey;
  text-decoration: underline;
}

.comment-container-username {
  font-weight: 500;
  font-size: small;
  padding: 2px 0px;
  /* border: 1px solid white;
  border-radius: 10px; */
  width: fit-content;
}

.comment-reply-icon {
  margin-top: 7px;
  font-size: 12px;
}
